
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="https://appseed.us/admin-dashboards/django-dashboard-argon" 
                 class="font-weight-bold ml-1" target="_blank">Django Dashboard Argon</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://www.creative-tim.com" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; Creative-Tim</a> - coded by AppSeed
            </div>
          </div>
        </div>
      </footer>
