
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <a href="https://github.com/app-generator/django-dashboard-argon" 
                   class="font-weight-bold ml-1" target="_blank">Django Dashboard Argon</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://www.creative-tim.com" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; Creative-Tim</a> - coded by AppSeed
            </div>
          </div>
        </div>
      </div>
    </footer>
