{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "includes/header.html" %}

    <div class="container-fluid mt--7 bg-secondary">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">  <!-- Global interactive Plotly Mabpox -->
          <div class="card shadow fade-in-bottom">
            <div class="card-body plotly worldmap">
              <div class="chart">
                {% autoescape off %}
                {{ world_map }}
                {% endautoescape %}
              </div>
            </div>
            <div style="position: absolute; padding:1.25rem 1.5rem;">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Global | Cumulative</h6>
                <h2 class="text-dark mb-0">Mapbox</h2>
            </div>
          </div>
        </div>
        <div class="col-xl-4">  <!-- Growth interactive scatterplot -->
          <div class="card bg-dark shadow fade-in-bottom">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Global | Cumulative</h6>
                  <h2 class="text-white mb-0">Growth</h2>
                </div>
                <div class="col text-right">
                  <a class="btn btn-sm btn-light" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Info"
                      data-content="Global cumulative growth in cases since collection of data started. Defaulted to logarithmic y-scale">
                      &nbsp;<i class="fas fa-info text-dark">&nbsp;</i>
                    </a>
                </div>
              </div>
            </div>
            <div class="card-body plotly">
              <div id="realtime_growth_chart" class="chart" style="height: 310px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">   <!-- Global daily growth plot -->
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Global | Daily</h6>
                  <h2 class="mb-0">Daily Growth</h2>
                </div>
                <div class="col text-right">
                  <a class="btn btn-sm btn-white" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Info"
                      data-content="Daily time series of cases. Bars can be stacked for relative adjacent comparison by toggling 'confirmed' cases.">
                      &nbsp;<i class="fas fa-info">&nbsp;</i>
                    </a>
                </div>
              </div>
            </div>

            <div class="card-body plotly">
              <div class="chart">
                {% autoescape off %}
                {{ daily_growth_plot }}
                {% endautoescape %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Global | Sortable</h6>
                  <h2 class="mb-0">Cases</h2>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-white">
                    &nbsp;<i class="fas fa-download">&nbsp;</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- cases table -->
              <table id="cases_table" class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Confirmed</th>
                    <th scope="col">Recovered</th>
                    <th scope="col">Deaths</th>
                  </tr>
                </thead>
                <tbody id="cases_table_body"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.home-item a').addClass('active');
</script>



<!-- cases table -->
<script>
window.addEventListener("load", function() {
    load_cases();
});

function load_cases() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var cases_table_body = document.getElementById("cases_table_body");
            var data = JSON.parse(this.response);

            for (let row of data) {
                let new_row = "<tr>";
                new_row += "<td class='font-weight-bold'>" + row["Country"] + "</td>";
                new_row += "<td>" + addCommas(row["Confirmed"]) + "</td>";
                new_row += "<td>" + addCommas(row["Deaths"]) + "</td>";
                new_row += "<td>" + addCommas(row["Recovered"]) + "</td>";
                new_row += "</tr>";

                cases_table_body.innerHTML += new_row;
            }

            var cases_table = document.getElementById("cases_table");
            sorttable.makeSortable(cases_table);
            cases_table.classList.add("sortable");
        }
    };

    xhttp.open("GET", "cases");
    xhttp.send();
}

function addCommas(input) {
    var number_string = input.toString();
    var result = "";

    for (let i = 0; i < number_string.length; i++) {
        result = number_string[number_string.length -1 - i] + result;

        if ((i + 1) % 3 == 0 && i != number_string.length - 1) {
            result = "," + result;
        } 
    }

    return result;
}
</script>

<!-- Realtime Growth -->
<script>
var realtime_growth_chart = document.getElementById("realtime_growth_chart");

var xhttp = new XMLHttpRequest();

xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var data = JSON.parse(this.response);

        var dates = Object.keys(data["Confirmed"]) 

        var confirmed_trace = {
            x: dates,
            y: Object.values(data["Confirmed"]),
            name: "Confirmed",
            line: {
                color: "#5E66EE",
                width: 4
            }
        };

        var recovered_trace = {
            x: dates,
            y: Object.values(data["Recovered"]),
            name: "Recovered",
            line: {
                color: '#00C894',
                width: 4
            }
        };

        var deaths_trace = {
            x: dates,
            y: Object.values(data["Deaths"]),
            name: "Deaths",
            line: {
                color: "#F5365C",
                width: 4
            }
        };

        var plot_data = [confirmed_trace, recovered_trace, deaths_trace];

        var plot_layout = {
            paper_bgcolor:'rgba(0,0,0,0)',
            plot_bgcolor:'rgba(0,0,0,0)',
            yaxis: {
                automargin: true,
                type: "log",
                gridcolor: "#778888"
            },
            xaxis: {
                automargin: true,
                showgrid: false
            },
            template:'plotly_dark',
            showlegend: false,
            font: {color: '#ced4da'},
            margin: {t:0, l:0, r:0, b:0},
            hovermode: "closest",
            updatemenus: [
                {
                    visible: true,
                    type: "dropdown",
                    buttons: [
                        {
                            method: "relayout",
                            label: "Logarithmic",
                            args: [{"yaxis.type": "log"}]
                        },
                        {
                            method: "relayout",
                            label: "Linear",
                            args: [{"yaxis.type": "linear"}]
                        }
                    ],
                    x: 0.05,
                    xanchor: "auto",
                    bgcolor: "#6236FF",
                    bordercolor: "rgba(0,0,0,0)"
                }
            ]
        };

        var plot_config = {
            responsive: true,
            displayModeBar: false
        }

        Plotly.newPlot(realtime_growth_chart, plot_data, plot_layout, plot_config);
    }
};

xhttp.open("GET", "realtime_growth");
xhttp.send();
</script>

{% endblock javascripts %}
