<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    COVID-19 Dashboard | {% block title %} Open-Source analytics dashboard {% endblock %}
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="{% static 'assets/img/brand/favicon.ico' %}" type="image/png" media="print" onload="this.media='all'"/>
  <noscript><link rel="icon" href="{% static 'assets/img/brand/favicon.ico' %}" type="image/png"/></noscript>

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" media="print" onload="this.media='all'"/>
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"/></noscript>

  <!-- Icons -->
  <script defer src="https://kit.fontawesome.com/189832a678.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/assets/css/style.css?v=1.1.0" media="print" onload="this.media='all'"/>
  <noscript><link rel="stylesheet" href="/static/assets/css/style.css?v=1.1.0"/></noscript>

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}

  {% endblock stylesheets %}

</head>

<body class="">

  {% include "includes/sidenav.html" %}

  <div class="main-content">

    {% block content %}{% endblock content %}

  </div>

  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>
