<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    COVID-19 Dashboard | {% block title %} Open-Source Dashboard {% endblock %}
  </title>

  <!-- Favicon - loaded as static -->
  <link href="{% static 'assets/img/brand/favicon.ico' %}" rel="icon" type="image/png">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/189832a678.js" crossorigin="anonymous"></script>
  <link href="/static/assets/css/style.css?v=1.1.0" rel="stylesheet" />
  
  <!-- PlotlyJs CDN -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="bg-default">

  <div class="main-content">


    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">COVID-19 Dashboard</h1>
              <p class="text-lead text-light">
                Open source Corona Virus analytics dashboard.</br>Contributions welcomed!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    
    {% block content %}{% endblock content %}

    {% include "includes/footer-fullscreen.html" %}

  </div>
    
  {% include "includes/scripts-fullscreen.html" %}

</body>

</html>
